results/*
results-*.txt

_cache/*
dbconfig.ini

.idea/*

__pycache__/
*.py[cod]
*$py.class

.Python
build/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.settings

*.iml
.idea/
.DS_Store
/target/
.classpath
.project
~          
*/repos/
*/logs*/
data-collection/storage/

.DS_Store
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
pyvenv.cfg
.venv
pip-selfcheck.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.vscode